includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 8
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/AdminPageSubscriber.php
        - %currentWorkingDirectory%/APIClient.php
        - %currentWorkingDirectory%/CDNOptionsManager.php
        - %currentWorkingDirectory%/DataManagerSubscriber.php
        - %currentWorkingDirectory%/NoticesSubscriber.php
        - %currentWorkingDirectory%/RESTSubscriber.php
        - %currentWorkingDirectory%/ServiceProvider.php
    scanDirectories:
        - %currentWorkingDirectory%/Tests/Fixtures
        - %currentWorkingDirectory%/Dependencies
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
